<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>avatar</ion-title>

        <ion-buttons slot="end">
            <ion-avatar id="toolbar-avatar">
                <img src="/assets/nyan.jpg" alt="nyan image">
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-chip>
        <ion-avatar>
            <img src="/assets/nyan.jpg" alt="nyan image">
        </ion-avatar>
        <ion-label>Nyan cat!</ion-label>
    </ion-chip>

    <ion-list>
        <ion-item>
            <ion-avatar>
                <img src="/assets/nyan.jpg" alt="nyan image">
            </ion-avatar>
            <ion-label>Nya</ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar>
                <img src="/assets/nyan.jpg" alt="nyan image">
            </ion-avatar>
            <ion-label>Nya</ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar>
                <img src="/assets/nyan.jpg" alt="nyan image">
            </ion-avatar>
            <ion-label>Nya</ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar>
                <img src="/assets/nyan.jpg" alt="nyan image">
            </ion-avatar>
            <ion-label>Nya</ion-label>
        </ion-item>
    </ion-list>
</ion-content>